[Unit]
Description=IDS2 SOC Agent on Raspberry Pi
After=network.target docker.service suricata.service
Requires=suricata.service docker.service
Wants=redis.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/opt/ids2
# Exécuter l'agent depuis le package src/
ExecStart=/opt/ids2/.venv/bin/python -m ids.app.supervisor /opt/ids2/config.yaml
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ids2-agent
Environment="PYTHONPATH=/opt/ids2/src"

[Install]
WantedBy=multi-user.target
